@model List<Product>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-light bg-opacity-50 bg-gradient ml-0 py-3 rounded-top">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>

    </div>
    <div class="card-body bg-black bg-opacity-50 p-4 rounded-bottom">
        <div class="row">
            <div class="col-12 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-square-dotted">
                        Create New Product
                    </i>
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        ReleaseDate
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.OrderBy(f => f.Id))
                {
                    <tr>
                        <td>
                            @c.Id
                        </td>
                        <td>
                            @c.Title
                        </td>
                        <td>
                            @c.Author
                        </td>
                        <td>
                            @c.Price
                        </td>
                        <td>
                            @c.ReleaseDate
                        </td>
                        <td>
                            @c.Description
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="Edit" asp-route-id="@c.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@c.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-x-square"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
